modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
APPOINTMENT_WEBHOOK_API_KEY = "bc86b46c718827a41a646bd43461c6e400e9e6fbdfda0413d83c2670c06d4009"
RESEND_API_KEY = "re_bx9ZVTXv_MPXrv23wCxPYQnTMfGNkhPpP"
